html {
  position: relative;
  min-height: 100%; }

body {
  background-color: white;
  height: 100%; }

p {
  font-size: 18px !important; }

span {
  font-weight: bold !important; }

.image-styles, .topLogo, .nurseImage, footer .footerImg {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 auto; }

.topLogo {
  height: 100px;
  width: 200px;
  background-image: url("../assets/logo@2x.jpg"); }

.nurseImage {
  position: relative;
  height: 300px;
  top: 100px;
  width: 100%;
  background-image: url("../assets/header-img@2x.jpg"); }

.info {
  position: relative;
  top: 50px; }
  .info .infoTwo {
    margin-top: 50px; }
    .info .infoTwo ul {
      list-style-image: url("../assets/icon-tick.svg");
      font-weight: bold; }
  .info .infoThree {
    margin-top: 50px; }
    .info .infoThree span a {
      color: #01669C !important;
      text-decoration: underline; }
      .info .infoThree span a:hover {
        color: grey !important; }

.formOne .registerForm .button {
  background-color: #01669C;
  width: 90; }

footer {
  background-color: grey;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
  overflow: hidden; }
  footer .footerImg {
    background-image: url("../assets/celear-back-logo.png");
    height: 100px;
    width: 200px; }

@media screen and (max-width: 480px) {
  body {
    background-color: lightgreen; } }
