html {
  position: relative;
  min-height: 100%; }

body {
  background-color: white;
  height: 100%; }

p {
  font-size: 18px !important; }

span {
  font-weight: bold !important; }

.hidden {
  display: none; }

.image-styles, .topLogo, .nurseImage, footer .footerImg {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 auto; }

.topLogo {
  height: 100px;
  width: 200px;
  background-image: url("../assets/logo@2x.jpg"); }

.nurseImage {
  position: relative;
  top: -10px;
  height: 300px;
  width: 100%;
  background-image: url("../assets/header-img@2x.jpg"); }

.info {
  position: relative;
  top: 50px;
  padding-left: 40px;
  display: block;
  overflow: auto; }
  .info .infoTwo {
    margin-top: 50px; }
    .info .infoTwo ul {
      list-style-image: url("../assets/icon-tick.svg");
      font-weight: bold; }
  .info .infoThree {
    margin-top: 50px; }
    .info .infoThree span a {
      color: #01669C !important;
      text-decoration: underline; }
      .info .infoThree span a:hover {
        color: grey !important; }

.formOne {
  position: relative;
  top: -17px; }
  .formOne .registerForm .registerTitle {
    border-bottom: 1px solid #01669C;
    padding: 15px; }
    .formOne .registerForm .registerTitle h1 {
      color: #01669C;
      font-size: 30px; }
  .formOne .registerForm .field {
    height: 85px; }
  .formOne .registerForm ul .passWarn {
    color: #01669C; }
  .formOne .registerForm ul .emailWarn {
    color: red; }
  .formOne .registerForm .check {
    height: 20px;
    width: 20px;
    margin-top: 12px; }
  .formOne .registerForm .residenceCheck {
    padding-left: 10px;
    position: relative;
    top: -5px; }
  .formOne .registerForm label {
    padding-top: 12px; }
  .formOne .registerForm .button {
    background-color: #01669C;
    color: white;
    font-weight: bold; }

footer {
  background-color: #F1EFF0;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
  overflow: hidden; }
  footer .footerImg {
    background-image: url("../assets/celear-back-logo.png");
    height: 100px;
    width: 200px; }

@media screen and (max-width: 900px) {
  p {
    font-size: 16px !important; }
  .registerForm {
    height: 650px; }
    .registerForm .registerTitle {
      margin-top: 30px; } }

@media screen and (max-width: 700px) {
  .topLogo {
    margin: auto; }
  .nurseImage {
    width: 95%;
    margin: 0 auto; }
  .info {
    width: 95%;
    margin: auto;
    top: 10px; }
    .info .infoTwo {
      top: 10px; }
      .info .infoTwo ul li {
        padding: 3px; }
  .registerForm {
    width: 90%;
    margin: 12px auto;
    height: 580px; } }
