$primary: white;
$secondary: #01669C;

html {
    position: relative;
    min-height: 100%;
}

body {
  background-color: $primary;
  height: 100%;
}

p {
  font-size: 18px !important;
}

span {
  font-weight: bold !important;
}

.hidden {
  display: none;
}

.image-styles {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin:  0 auto;
}

.topLogo {
  height: 100px;
  width: 200px;
  background-image: url("../assets/logo@2x.jpg");
  @extend .image-styles;
}

.nurseImage {
  position: relative;
  top: -10px;
  height: 300px;
  width: 100%;
  background-image: url("../assets/header-img@2x.jpg");
  @extend .image-styles;
}

.info {
  position: relative;
  top: 50px;
  padding-left: 40px;
  display:block;
  overflow:auto;
  .infoTwo {
    margin-top: 50px;
    ul {
    list-style-image: url('../assets/icon-tick.svg');
    font-weight: bold;
    }
  }
  .infoThree {
    margin-top: 50px;
    span {
      a {
        color: $secondary !important;
        text-decoration: underline;
        &:hover {
          color: grey !important;
        }
      }

    }
  }
}

.formOne {
  position: relative;
  top: -17px;
  .registerForm {
    .registerTitle {
      border-bottom: 1px solid $secondary;
      padding: 15px;
      h1{
        color: $secondary;
        font-size: 30px;
      }
    }
    .field {
      height: 85px;
    }
    ul {
      .passWarn {

      color: $secondary;
      }
      .emailWarn {
        color: red;
      }
    }
    .check {
      height: 20px;
      width: 20px;
      margin-top: 12px;
    }
    .residenceCheck {
      padding-left: 10px;
      position: relative;
      top: -5px;
    }
    label {
      padding-top: 12px;
    }
    .button {
      background-color: $secondary;
      color: $primary;
      font-weight: bold;
    }
  }
}

footer {
    background-color: #F1EFF0;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow:hidden;
    .footerImg {
      background-image: url("../assets/celear-back-logo.png");
      height: 100px;
      width: 200px;
      @extend .image-styles;
    }
}

@media screen and (max-width: 900px) {
  p {
    font-size: 16px !important;
  }
  .registerForm {
    height: 650px;
    .registerTitle {
      margin-top: 30px;
    }

  }
}



@media screen and (max-width: 700px) {

  .topLogo {
    margin: auto;
  }
  .nurseImage {
    width: 95%;
    margin: 0 auto;
  }
  .info {
    width: 95%;
    margin: auto;
    top: 10px;
    .infoTwo {
      top: 10px;
      ul {
        li {
          padding: 3px;
        }
      }
    }
  }
  .registerForm {
    width: 90%;
    margin: 12px auto;
    height: 580px;
  }

}
