$primary: white;
$secondary: #01669C;

html {
    position: relative;
    min-height: 100%;
}

body {
  background-color: $primary;
  height: 100%;
}

p {
  font-size: 18px !important;
}

span {
  font-weight: bold !important;
}

.image-styles {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin:  0 auto;
}

.topLogo {
  height: 100px;
  width: 200px;
  background-image: url("../assets/logo@2x.jpg");
  @extend .image-styles;
}

.nurseImage {
  position: relative;
  height: 300px;
  top: 100px;
  width: 100%;
  background-image: url("../assets/header-img@2x.jpg");
  @extend .image-styles;
}

.info {
  position: relative;
  top: 50px;
  .infoTwo {
    margin-top: 50px;
    ul {
    list-style-image: url('../assets/icon-tick.svg');
    font-weight: bold;
    }
  }
  .infoThree {
    margin-top: 50px;
    span {
      a {
        color: $secondary !important;
        text-decoration: underline;
        &:hover {
          color: grey !important;
        }
      }

    }
  }
}

.formOne {
  .registerForm {
    .button {
      background-color: $secondary;
      width: 90
    }
  }
}

footer {
    background-color: grey;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow:hidden;
    .footerImg {
      background-image: url("../assets/celear-back-logo.png");
      height: 100px;
      width: 200px;
      @extend .image-styles;
    }
}

@media screen and (max-width: 480px) {
    body {
        background-color: lightgreen;
    }
}
